*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(R.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
nav{
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
}
