*{
    padding: 0;
    margin: 0;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  h3::first-letter{
      color: rgb(136,109,250);
      font-size: 30px;
  }
  label::first-letter{
      color: rgb(136,109,250);
      font-size: 22px;
      
  }
  main{
      width: auto;
      width: 350px;
      border-radius: 55px;
      height:70%;
      background-color: transparent;
      backdrop-filter: blur(80px);
  }
  body{
      justify-content: center;
      align-items: center;
      text-align: center;
       display: flex;
      background-image: url(R.jpeg);
      height: 100vh;
  }
  .image img{
      width:50%;
      height: 90px;
      margin-top: 10px;
      
  }
  h3,p{
      color: white;
  }
  .baby label{
      display: block;
      margin-top: 20px;
      margin-right:100px;
      color: white;
      align-items: end;
      padding-right: 90px;
      line-height: 10px;
      
  }
  .baby input{
      border-radius: 40px;
      /* background-color: blueviolet; */
      width: 80%;
      height: 30px;
      outline: none;
  }
  input:hover{
      box-shadow: 0px 1px 10px rgb(124, 45, 204);
  }
  .baby:hover{
      transform: scale(1.1);
  }
  ::placeholder{
      padding-left: 10px;
  }
  .mmm{
      background-color:rgb(136,109,250);
      margin-top: 30px;
      height: 40px;
      width: 190px;
      border-radius: 10px;
  }
  strong{
      color: rgb(136,109,250);
      font-size: 20px;
  }
  .emm{
      padding-top: 10px;
      display: flex;
      justify-content: center;
      /* text-align: center; */
      padding-left: 20;
  }
  .emm a{
      text-decoration: none;
      color: rgb(124, 45, 204);
      margin-bottom: 10px;
  }
  button:hover{
      background-color: white;
      color: rgb(124, 45, 204);
      transition: ease-in-out 1ms;
  }
  a:hover{
      color: white;
      background-color: rgb(124, 45, 204);
      transition: ease-in 1s;
      /* width: 50px; */
      height: 20px;
      position: relative;
  }
  #agree{
      margin: 10px 0 0 0;
      color: white;
  }
  #agree a{
      text-decoration: none;
      color: aliceblue;
  }